---
layout: default
---

{% include header.html%}


<div class="mx-auto text-center">
  <div class="mt-[0px] max-w-7xl bg-white mx-auto text-left border rounded-md mb-3">

    <div class="flex overflow-hidden">
    <div class="px-12 py-8 mt-8">
      <div class="col-start-1 row-start-1 text-base font-semibold leading-7 h-7 text-sky-600" aria-hidden="true">Your #1 FMCG Wholesaler.</div>
      <h1 class="col-start-1 row-start-2 mt-4 max-w-[36rem] text-4xl font-extrabold tracking-tight text-slate-800 sm:text-7xl xl:max-w-[43.5rem]">Rayburn Trading's Latest News &amp; Offers.</h1>
      <p class="prose lg:prose-base prose-slate text-[#007fcd] mt-6">
        Keep up to date with all the latest news at Rayburn, including new products, offers and more.
        <br /><br />
        We'll be highlighting trending products, new brands and exclusive offers, so you can stay ahead of the curve and keep your customers happy.
        <br /> <br />
        As well as industry news and wholesale best practices.
      </p>

      <button type="button" class="rounded-full  px-4 py-2.5 mt-6 text-sm font-semibold text-yellow-700 shadow-sm ring-1 ring-inset ring-yellow-300 hover:bg-yellow-300 hover:text-yellow-700 bg-yellow-200">See newest post</button>


    </div> <!-- end hero text -->

    <!-- hero images -->
    <div class="justify-end hidden gap-8 sm:flex mt-14 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">

      <div class="flex-none pt-32 ml-auto space-y-8 w-44 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">

        <div class="relative">
          <img src="{{site.baseurl}}/assets/hero_sign.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover border border-slate-100" />
          <!-- <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10" /> -->
        </div>

      </div>

      <div class="flex-none mr-auto space-y-8 w-44 sm:mr-0 sm:pt-52 lg:pt-36">
        <div class="relative">
          <img src="{{site.baseurl}}/assets/hero_shelves.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover border border-slate-100" />
          <!-- <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10" /> -->
        </div>
        <div class="relative">
          <img src="https://www.rayburntrading.com/images/products/143214.jpg" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover border border-slate-100" />
          <!-- <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10" /> -->
        </div>
      </div>

    </div>

      
   
    </div>
    

    <div
    class="flex flex-row items-center justify-start px-12 mt-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-12 h-12"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z"
      />
    </svg>

    <h2 class="px-4 text-3xl font-bold text-slate-700">Recent Posts</h2>
  </div>
  <div class="relative grid max-w-2xl grid-cols-1 gap-8 px-8 mx-auto mt-4 mb-20 isolate auto-rows-fr sm:mt-12 lg:mx-0 lg:max-w-none lg:grid-cols-5">
    {% for post in site.posts limit:10 %}
      <div>
      <article class="relative flex flex-col justify-end px-8 pt-48 pb-8 overflow-hidden bg-gray-900 isolate rounded-2xl sm:pt-48 lg:pt-48">
        <img src="{{site.baseurl}}{{ post.cover }}" alt="" class="absolute inset-0 object-cover w-full h-full -z-10" />
        <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
          <a href="{{site.baseurl}}{{ post.url }}">
            
            {{ post.title }}
           
          </a>
        </h3>
        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/20" />
        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
       
        
        
      </article>
      </div>
       {% endfor %}
    </div>

</div>
    
</div>
</div>

